# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock



# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm


# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

#Webstorm files
.idea
.DS_Store

#Cucumber report
cucumber_report.json

# VSC/JSHint settings
.vscode/
.jshintrc
.editorconfig

reports/
allure-report/
allure-results/
errorShots/
junit-report/
browserstack.err
config/local.conf.js
package-lock.json
